<!DOCTYPE html>
<html>
  <head>
    <title>{{ page_title|default('BioInfo 4A Web dev Introdution') }}</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% block head %}{% endblock %}
  </head>
  <body>
    <ul id="navbarMenu">
      <li class="navItem"><a href="{{ url_for('welcome') }}">Welcome</a></li>
      <li class="navItem"><a href="{{ url_for('movies') }}">Movies</a></li>
    </ul>

{% block content %}{% endblock %}

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
