<!DOCTYPE html>
<html>
  <head>
    <title>{{ page_title|default('BioInfo 4A Web dev Introdution') }}</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% block head %}{% endblock %}
  </head>
  <body>
    <ul id="navbarMenu">
      <li class="navItem"><a href="{{ url_for('index') }}">Home</a></li>
      <li class="navItem"><a href="{{ url_for('users_page') }}">Users</a></li>
      <li class="navItem"><a href="{{ url_for('about_page') }}">About</a></li>
      <li class="navItem" style="float:right">
        <form class="" method="get" action="{{ url_for('users_page') }}">
          <input class="" placeholder="Search" type="text" name="pattern">
          <button class="" type="submit">Search</button>
        </form>
      </li>
    </ul>

{% block content %}{% endblock %}

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
