{% extends 'base.html' %} {% block content %} <style>
      figure {
          display: table;

      }

      figcaption {
        display: table-caption;
        caption-side: top;
      }

      img {
        width: 300px;
        height: 375px;
      }

      .color{
            color:#9E0E40;
      }

      body {
            color:black;
            text-align: center;
            background-color: white;
            background-image:url(https://st3.depositphotos.com/12006318/15165/i/450/depositphotos_151658570-stock-photo-product-showscase-spotlight-on-black.jpg);
            background-repeat:no-repeat;
            background-size:cover;
      }

      .formbox {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border: 1px solid #333;
    padding: 10px 12px;
    background-color: #9E0E40
  }
      .two{
        text-align:center;
      }

      .background{
        background-color: #D0DEE9;
        width: 600px;
        height:1000px;
        margin-left: 400px;
        text-align:center;
      }


    </style>

<hr>
<div class="background">
  <br>
<div align="center">
    <figure>
      <a href="{{url_for('types_page')}}">
        <img src={{cover}} alt="Cover of the film" class="center">
      </a>

      <figcaption>
        <h1 class = "color"><u>{{film["name"]}}'s Profile</u></h1>
      </figcaption>
      </figure>


    <h3><span style = "color:#9E0E40">Type : </span> {{film["Type"]}}</h3>
    <h3> <span style = "color:#9E0E40">Actors/Voices :</span> <br>
    {% for f in film["starring"] %}
    -{{f}}<br>
      {% endfor %}
    </h3>
    <h3><span style = "color:#9E0E40">Year :</span> {{ film["year"]}}</h3>
    <h3><span style = "color:#9E0E40">Film Length </span>: {{ film["film_length"]}}</h3>
    <h3><span style = "color:#9E0E40">Score /5 </span>: {{ mean_score}}</h3>
    <h3>
      <a href={{wiki}}> Link to Wikipedia of this movie </a>
    </h3>


    <form method="post" class="formbox" action="">
      <div><p align="justify">
      <label> <span style ="color:#FFFFFF"> Give a score to this movie from 0 to 5 </span> :</label>
      <input size="20" type="number" min="0" max="5" step="0.1" name="note" id="add_score_to_movie" placeholder="Ex: 4.3" required />
      </p></div>
      <br>
        <input type="submit" value="Add the note" />

    <!--  <br><a href="{{url_for('movies_profile',name=film["name"])}}" > Refresh <!--<input type="submit" value="Add the note" />  -->
      </form>
 </div>
 </div>
    <!-- film.url --> {% endblock %}
