{% extends 'base.html' %}
{% block content %}

<h1><span> <u> Movies which have been rated from {{inf}} to {{sup}} : </u> </span> </h1>

{% for n in ordered %}
    <li><a href="{{url_for('movies_profile',name=movies[n]["name"])}}" >{{movies[n]["name"]}} </a>
        <figure>
             <a href="{{url_for('movies_profile',name=movies[n]["name"])}}">
               <img src={{covers[n]}} alt="Cover of the film" height="300" width="230">
             </a>
         </figure>
         <a>Score : {{mean[n]}} </a>
    </li>
{% endfor %}

{% endblock %}
