{% extends 'base.html' %}
{% block content %}
      <h1>Users</h1>
      <div class="info">
        <p>Use Jinja templating system to produce a list of users in the SQL database.<br />
        Follow the documentation: <a href="https://flask.palletsprojects.com/en/2.0.x/quickstart/#rendering-templates">flask.palletsprojects.com/en/2.0.x/quickstart/#rendering-templates</a>.
      </div>

      <h1>Users' Names</h1>
      {% for each_user in users %}
          <li><a href="{{url_for('profile', username= each_user.name)}}">{{ each_user.name }}</a></li>
          <form action="{{url_for('profile',username=each_user.name)}}" method="post" style="">
              <input type="submit" value="Delete">
          </form>

      {% endfor %}

      <h1>Add User</h1>

      <form action="{{url_for('users_page')}}" method="post" style="float:left">
          <div>
              <label>Name </label>
              <input type="text" name="name" id="name" required>
          </div>
          <div>
              <label>Field</label>
              <input type="text" name="field" id="Field" required>
          </div>
          <div>
              <label>Date of birth</label>
              <input type="date" name="birthday" id="Date of birth" required>
          </div>
          <input type="submit" value="Add!">
      </form>


{% endblock %}
