{% extends "base.html" %}
{# Have a look at base.html as well to understand how templating works ;)  #}

{% block content %}

<h1 align="center">My Cinema</h1>


<p>Hello!<br> Welcome to our website with all of our favorite movies inside. You can find all the informations of every film here!</p>

<h2 align="center">Search the movies according to : <h2>

<style>
.round_icon{
  width: 250px;
  height: 250px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

img{
  position:absolute;
  left:150px;
  top:300px;
  }

</style>


<img align="left" src="https://cursus.univ-rennes2.fr/pluginfile.php/1312024/course/overviewfiles/Movie%20genres.jpg" class="round_icon"  alt="">


{% endblock %}
